.header {
  height: 12vh;
  line-height: 10vh;
  display: flex;
  justify-content:space-between;
  width: 100%;
  padding-top: 15px;
  
}
.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.nav-logo p{
  font-size: 1.6rem;
  font-weight: 600;
}
.nav-logo-img{
  border-radius: 50%;
  width: 60px;
}

.nav-menu{
  display: flex;
}

.header ul li {
  margin-left: 60px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
button{
    border: none;
    outline: none;
    padding: 18px 35px;
    border-radius: 30px;
    transition: 0.3s all ease;
    cursor: pointer;
    height: fit-content;
    color: #ff014f;
    background-color: #ff014f;
    margin-right: 20px;
}
/* to make the header have shadow and fixed when scrolling */
.header.active{
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #ecf0f3;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
  }